/*	-------------------    \
		COLOR THEME
\	-------------------   */
.bg-loupiote{

	background-image: url("img/04llp.JPG");
	background-position: center;
	/*background: linear-gradient(90deg, rgba(228,228,244,0.4) 0%, rgba(228,228,244,0.4) 35%, rgba(228,228,244,0.4) 100%),*/
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    /*height: auto;*/
}

.bg-light{
	background-color:#FDFEFE !important;
}

.bg-dark{
	background-color:#323232 !important;
}

.dark-text{
	color: #323232 !important;
}
.light-text{
	color: #FDFEFE !important;
}
.paraph-text, #horaire{
	font-size: 1.5em;
}

#horaire li{
	list-style: none;
}
/*	-------------------    \
		HEADER
\	-------------------   */
#logo{
	width: 2.5em;
}
.translator img{
	width: 2.5em;
	border-radius: 18%;
}

.carousel-item img{
	height: 50em;
/*	opacity: 0.75;*/
}

.carousel-caption{
	margin-bottom:30%;

}

.laloupiote-title{
	font-family: 'Great Vibes', cursive;
	font-size: 5em;
}
.fa-angle-double-down{
	color: #323232;
	font-size: 3em;
}
.fa-angle-double-down:hover{
	color: #9e1525; 
	font-size: 3em;
}
/*	-------------------    \
		GENERAL
\	-------------------   */
*{
	scroll-behavior: smooth;
}
.section-content{
	padding-top: 10em;
	padding-bottom: 10Em;
}

/*	-------------------    \
		FOOTER
\	-------------------   */
.network img{
	width: 2.5em;
	border-radius: 18%;
}
#logo-footer{
	width: 8em;
}

/*--------\
	btn
\--------*/

.btn {
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 0.625rem;
  letter-spacing: 0.3em;
  color: #fff;
  border-radius: 0;
  padding: 18px 80px 20px;
  transition: all 0.7s ease-out !important;
  background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 1px solid rgba(223,190,106,0.3);
}

.btn:hover {
	/**/
  color: #000 !important;
  border: 1px solid rgba(223,190,106,0);
  background-position: 99% 50%;
}
