i{
	font-size: 6em;
}
/* ------------------- \
		HORAIRES
\ --------------------*/
.form-horaires{
	margin-top: 1em !important;
	padding-top: 2em;
	padding-bottom: 2em;

	border-radius: 1.8%;
	opacity: 0.85;
}

/* ------------------- \
		INFO CONTACT
\ --------------------*/
.form-info{
	margin-top: 1em !important;
	padding-top: 2em;
	padding-bottom: 2em;

	border-radius: 1.8%;
	opacity: 0.85;

	width: 25%;
}